@import "_colours";
@import "../sass/layout";

/*
Note: The fact that the below has to override the CSS, though it is for the
default template, is a sign that the CSS is not best organised. It needs
refactoring, and making more maintainable through the use of SMACSS, OOCSS
and similar.
*/

body {
    background: $blue;
}

body.mappage {
    .nav-wrapper {
        .nav-wrapper-2 {
            background: $blue;
        }
    }
}

#main-nav {
    ul {
        li {
            a, span {
                color: #fff;
            }
        }
        &#main-menu {
            li {
                a:hover {
                    background: $primary;
                }
            }
        }
    }
}

#mpsj-logo {
    top: 0.9em;
    position: absolute;
    z-index: 3;
}

.ie6, .ie7 {
    #mpsj-logo {
	position: absolute;
	top: -3.25em;
    }
}

body.mappage {
    #site-logo {
	position: fixed;
    }
}

.ie6, .ie7, .ie8 {
    body.mappage {
	position: absolute;
    }
}

body.frontpage {
    #mpsj-logo {
	top: 3.5em;
	margin-left: 300px;
    }
}

.ie6, ie7, ie8 {
    body.frontpage {
	#mbsj-logo {
	    position: relative;
	    width: 60em;
	    margin: 0 auto;
	    top: -1em;
	}
    }
}
